<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ExD TSDB Connector Test Webapp</title>

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/foundation.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/styles.css">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="row margin">
      <div class="small-12 columns">
        <div><img src="img/ARMmbedLogo.png" alt="ARM mbed"></div>
      </div>
    </div>
    <div class="blueband">
      <div class="row">
        <div class="small-12 columns">
          <h1>ExD TSDB Connector Test Webapp</h1>
        </div>
      </div>
    </div>
    <div id="endpoints">
    {{#each endpoints}}
      <div class="row" id="{{name}}">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-12 columns">
              <h2>Device ID: {{name}}</h2>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 columns">
              <h4>Presses: <span class="presses-value">Unknown</span></h4>
              <label><input type="checkbox" class="subscribe-presses"> Subscribe</label>
              <button class="get-presses">GET</button>
            </div>
            <div class="small-12 medium-6 columns">
              <h4>LED Blink Pattern</h4>
              <div>
                <input type="text" value="{{blinkPattern}}" class="blink-pattern">
              </div>
              <div class="row">
                <div class="small-6 columns">
                  <button class="update-blink-pattern">Update (PUT)</button>
                </div>
                <div class="small-6 columns text-right">
                  <button class="blink">Blink (POST)</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 columns">
              <div class="row">
                <div class="small-12 columns">
                  <h4>Accel X: <span class="accel-x-value">Unknown</span>
                  Y: <span class="accel-y-value">Unknown</span>
                  Z: <span class="accel-z-value">Unknown</span></h4>
                </div>
              </div>
              <label><input type="checkbox" class="subscribe-accel"> Subscribe</label>
              <button class="get-accel">GET</button>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-6 columns">
              <div class="row">
                <div class="small-12 columns">
                  <h4>Sound level: <span class="sound-level-value">Unknown</span></h4>
                </div>
                <div class="small-12 columns">
                  <h4>Temperature: <span class="temperature-value">Unknown</span></h4>
                </div>
                <div class="small-12 columns">
                  <h4>Light level: <span class="light-level-value">Unknown</span></h4>
                </div>
              </div>
              <label><input type="checkbox" class="subscribe-analog"> Subscribe</label>
              <button class="get-analog">GET</button>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <div class="row">
                <h4>Aggregated data:</h4>
                <pre><span class="json-data-value">Unknown</span></pre>
              </div>
              <label><input type="checkbox" class="subscribe-json"> Subscribe</label>
              <button class="get-json">GET</button>
            </div>
          </div>
        </div>
      </div>
    {{else}}
      <div class="small-12 columns">
        <div class="row">
          <div class="small-12 columns">
            <h2>No endpoints connected</h2>
          </div>
        </div>
      </div>
    {{/each}}
    </div>


    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/socket.io.js"></script>
    <script type="text/javascript">
      $(function() {
        var socket = io();

        $('#endpoints').children().each(function(index, element) {
          var _this = $(this);
          _this.find('.subscribe-presses').change(function() {
            if ($(this).is(":checked")) {
              _this.find('.get-presses').prop('disabled', true);
              socket.emit('subscribe-to-presses', {
                endpointName: _this.attr('id')
              });
            } else {
              _this.find('.get-presses').prop('disabled', false);
              socket.emit('unsubscribe-to-presses', {
                endpointName: _this.attr('id')
              });
            }
          });

          _this.find('.subscribe-accel').change(function() {
            if ($(this).is(":checked")) {
              _this.find('.get-accel').prop('disabled', true);
              socket.emit('subscribe-to-accel', {
                endpointName: _this.attr('id')
              });
            } else {
              _this.find('.get-accel').prop('disabled', false);
              socket.emit('unsubscribe-to-accel', {
                endpointName: _this.attr('id')
              });
            }
          });

          _this.find('.subscribe-analog').change(function() {
            if ($(this).is(":checked")) {
              _this.find('.get-analog').prop('disabled', true);
              socket.emit('subscribe-to-analog', {
                endpointName: _this.attr('id')
              });
            } else {
              _this.find('.get-analog').prop('disabled', false);
              socket.emit('unsubscribe-to-analog', {
                endpointName: _this.attr('id')
              });
            }
          });

          _this.find('.subscribe-json').change(function() {
            if ($(this).is(":checked")) {
              _this.find('.get-json').prop('disabled', true);
              socket.emit('subscribe-to-json', {
                endpointName: _this.attr('id')
              });
            } else {
              _this.find('.get-json').prop('disabled', false);
              socket.emit('unsubscribe-to-json', {
                endpointName: _this.attr('id')
              });
            }
          });

          _this.find('.get-presses').on('click', function() {
            socket.emit('get-presses', {
              endpointName: _this.attr('id')
            });
          });

          _this.find('.get-accel').on('click', function() {
            socket.emit('get-accel', {
              endpointName: _this.attr('id')
            });
          });

          _this.find('.get-analog').on('click', function() {
            socket.emit('get-analog', {
              endpointName: _this.attr('id')
            });
          });

          _this.find('.get-json').on('click', function() {
            socket.emit('get-json', {
              endpointName: _this.attr('id')
            });
          });

          _this.find('.blink-pattern').bind('input', function() {
            _this.find('.update-blink-pattern').addClass('active');
          })

          _this.find('.update-blink-pattern').on('click', function() {
            socket.emit('update-blink-pattern', {
              endpointName: _this.attr('id'),
              blinkPattern: _this.find('.blink-pattern').val()
            });

            $(this).removeClass('active');
          });

          _this.find('.blink').on('click', function() {
            socket.emit('blink', {
              endpointName: _this.attr('id')
            });
          });
        });


        socket.on('presses', function (data) {
          console.log('presses', data);
          $('#' + data.endpointName + ' .presses-value').html(data.value);
        });

        socket.on('accel-x', function (data) {
          console.log('accel-x', data);
          $('#' + data.endpointName + ' .accel-x-value').html(data.value);
        });

        socket.on('accel-y', function (data) {
          console.log('accel-y', data);
          $('#' + data.endpointName + ' .accel-y-value').html(data.value);
        });

        socket.on('accel-z', function (data) {
          console.log('accel-z', data);
          $('#' + data.endpointName + ' .accel-z-value').html(data.value);
        });

        socket.on('sound-level', function (data) {
          console.log('sound-level', data);
          $('#' + data.endpointName + ' .sound-level-value').html(data.value);
        });

        socket.on('temperature', function (data) {
          console.log('temperature', data);
          $('#' + data.endpointName + ' .temperature-value').html(data.value);
        });

        socket.on('light-level', function (data) {
          console.log('light-level', data);
          $('#' + data.endpointName + ' .light-level-value').html(data.value);
        });

        socket.on('json-data', function (data) {
          console.log('json-data', data);
          $('#' + data.endpointName + ' .json-data-value').html(data.value);
        });

        socket.on('subscribed-to-presses', function (data) {
          console.log('subscribed-to-presses', data);
        });

        socket.on('unsubscribed-to-presses', function (data) {
          console.log('unsubscribed-to-presses', data);
        });
      });
    </script>
  </body>
</html>
